<div class="card mx-4 my-4">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item mr-2">
                <input type="text" [formControl]="username" name="username" id="username" class="form-control" placeholder="Your Username..." *ngIf="!connected">
            </li>
            <li class="nav-item mr-2">
                <button class="btn btn-success" type="button" (click)="connect()" *ngIf="!connected" [disabled]="!usernameForm.valid">Connect</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-warning" type="button" (click)="disconnect()" *ngIf="connected">Disconnect chat</button>
            </li>
        </ul>
    </div>

    <!-- #scrollChat para que aparezca al final del scroll, exporta en esa variable la referencia del elemento div. scrollTop pasamos altura del scroll -->
    <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="overflow-y: scroll; height:360px;" *ngIf="connected">
        <ul class="list-group list-group-flush">    <!-- flush quita los bordes -->
            <li class="list-group-item list-group-item-light" *ngFor="let message of messages">
                <span *ngIf="message.type == 'NEW_USER'"> 
                    {{ message.date | date:'shortTime' }} @ {{ message.text }} 
                    <span [ngStyle]="{'color': message.color}">{{ message.username }}</span>
                </span>
                <span *ngIf="message.type == 'MESSAGE'"> 
                    {{ message.date | date:'shortTime' }} : 
                    <span [ngStyle]="{'color': message.color}">{{ message.username }}</span>
                     says:<br> {{ message.text }}
                </span>
            </li>
        </ul>
    </div>

    <div class="card-footer" *ngIf="connected">
        <form class="form-inline" (ngSubmit)="sendMessage()">
            <div class="form-group mx-3">
                <input type="text" [formControl]="text" name="text" id="text" class="form-control" placeholder="Write a message..." 
                (keyup)="writingEvent()"> 
            </div>

            <button class="btn btn-primary" type="submit">Send</button>
        </form>
        <div> {{ writing }} </div>
    </div>
</div>